.card {
  margin-top: 20px;
}
.temperature {
  font-size: 70px;
  line-height: 0.7;
  margin-right: -5px;
  float: inline-start;
}
h1 {
  font-family: PT Mono;
  font-size: 50px;
  padding: 20px 0px 0px 20px;
}
ul {
  list-style-type: none;
  padding-left: 0;
  margin-left: 0;
}
.icon-location {
  padding: 0;
  margin-left: -10px;
}
.icon-location img {
  width: 100px;
  height: 100px;
  object-position: left top;
}
.units {
  font-size: 18px;
  vertical-align: top;
}
h3 {
  margin: 10px 10px 25px 250px;
}

.sun-icon {
  color: yellow;
  font-size: 40px;
}
.rain-icon {
  color: royalblue;
  font-size: 40px;
}
.coud-icon {
  color: grey;
  font-size: 40px;
}
.cloud-sun-icon {
  color: lightskyblue;
  font-size: 40px;
}
.source-code {
  text-decoration: none;
}
.weather-app-wrapper {
  max-width: 600px;
  margin: auto;
}
.current-date-weather {
  padding-bottom: 20px;
}
li:first-letter {
  text-transform: capitalize;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
.current-temp .active {
  color: black;
  cursor: default;
}
.current-temp .active:hover {
  text-decoration: none;
}
