.temperature {
  font-size: 65px;
}
h1 {
  font-family: PT Mono;
  font-size: 50px;
  padding-top: 20px;
}
ul {
  list-style-type: none;
  padding-left: 0;
  margin-left: 0;
}

h2 {
  font-size: 150px;
}
.units {
  font-size: 15px;
}
h3 {
  margin: 10px 10px 25px 250px;
}
.sun-icon-current {
  color: yellow;
  font-size: 75px;
  padding-top: 20px;
}
.sun-icon {
  color: yellow;
  font-size: 40px;
}
.rain-icon {
  color: royalblue;
  font-size: 40px;
}
.coud-icon {
  color: grey;
  font-size: 40px;
}
.cloud-sun-icon {
  color: lightskyblue;
  font-size: 40px;
}
.source-code {
  text-decoration: none;
}
